alembic==1.13.1
fastapi==0.105.0
geoalchemy2==0.14.3
geopandas==0.14.2
numpy==1.26.3
pandas==2.2.0
psycopg2==2.9.9
pydantic==2.5.2
python-multipart==0.0.6
pyproj==3.6.1
shapely==2.0.2
sqlalchemy==2.0.23
uvicorn==0.23.2